<div class="ui card">
  <div class="content">
    <a class="header">未发货订单</a>
    <div class="meta">
      <span class="date">用户已确认但未发货的订单</span>
    </div>
  </div>
  <div class="extra content">
    <a>
      <i class="user icon"></i>
      <%= @unshipping_orders_count %> 件
    </a>
  </div>
</div>
