<%= form_for @_resource, as: @__resource_name, url: delegate_form_url(@_resource), method: delegate_form_method(@_resource), html: {class: 'ui form'} do |f| %>
  <% @__editable_attributes.each do |attr| %>
    <div class="ui field">
      <%= f.label attr[:attr_name] %>
      <%= delegate_form_field_tag(f, @_resource, attr) %>
    </div>
  <% end %>

  <%= f.submit 'OK', class: 'ui primary button' %>
<% end %>
