<div class="ui segment">
  <%= delegate_new_resource_button_tag %>
  <%= delegate_resource_collection_buttons_tag %>
  <div class="ui divider"></div>

  <%= deletage_resource_enum_tab %>

  <%= render 'list' %>
</div>
