<div class="ui segment">
  <%= delegate_edit_resource_button_tag(@_resource) %>
  <%= link_to '列表', delegate_resources_path, class: 'ui button' %>
  <%= delegate_resource_member_button_tags(@_resource) %>

  <div class="ui divider"></div>
  <div class="ui grid">
    <% @__resource_model.__attrs_with_sql_type.each do |name, attr| %>
      <%= delegate_resource_attr_tag(@_resource, attr) %>
    <% end %>
  </div>
</div>
