body,button {
    margin:0px;
    padding: 0px;
    color:#313131;
}
.second_title{
    text-align: center;
    color: #e0502c;
    font-size: 20px;
    width: 100%;
    margin-top: 32px;
    padding-bottom: 10px;
    border-bottom: 1px solid #f8ded7;
}

.info{
    font-size: 1rem;
    color: #313131;
    font-size: 14px;
    padding-left:18px ;
    margin: 14px auto 14px 0px;
}

.prj_box{
    border: 1px solid #f8ded7;
    border-radius: 3px;
    margin: auto 23px 20px 23px;
        background: #f7f7f7;
}

.prj-name{
    margin-left: 15px;
    color:#313131;
    font-size: 14px;
 }
.jiage{
    color: #e0502c;
    text-decoration: line-through;


}
.add{
    margin-left: 42%;
}
.prj_img{
    display: block;
    width: 90%;
    margin: 10px auto;
}
.prj_detail{
    display: inline-block;
    text-decoration: none;
    color: #b5b5b5;
    padding-left: 5%;
    font-size: 12px;
    margin-bottom: 12px;

}
.last_time{
    display: inline-block;
    font-size: 12px;
    color: #b5b5b5;
    margin-left: 20px;
    margin-bottom: 12px;
}

.round{
    text-decoration:none;
    font-size: 2rem;
}

.user_info{
    /*border:1px solid #ccc;*/
    /*border-top: 1px solid #666;*/

}

.form{
    margin-top: 20px;


}
.form label{
    font-size: 11px;
    padding-left: 7px;
}
.form dd{
    /*border:1px solid #666;*/

    background-color: #f7f7f7;
    height: 40px;
    margin:16px 23px ;
    line-height: 40px;
    border-radius: 5px;

}

.text{
    /*display: inline-block;*/
    background-color: #f7f7f7;

    height: 35px;
    min-width: 60%;
    outline:none;
    border: none;
}
/*#city{*/
    /*width: 80px;*/

/*}*/
.city{
    /*border:1px solid #ccc;*/
    width: 100%;
    font-size: 11px;
    padding-left: 7px;

}
select{
    /*border:1px solid #666666;*/
    width: 60px;
    border:0;
    border:none;
    outline: none;
    background-color: #f7f7f7;
    /*chrom*/
    -webkit-appearance: none;
    /* Firefox */
    -moz-appearance: none;


}
.detail_addr{
        display: block;
        margin-bottom: 5px;
        margin-left:23px;
        outline: none;
        min-width: 70%;
        border: none;
}
#selData{
    background: #f7f7f7;
    outline: none;
    border:none;
    min-width:60% ;

}
.btn{
    display: block;
    width: 100%;
    min-height: 40px;
    background-color: #e0502c;
    border:#c93915;
    border-radius: 3px;
    color:#fff;
    text-align: center;
    margin-top: 28px;
    outline: none;
}
a{
    display: block;
    width: 100%;height: 100%;
    text-decoration: none;
    color: #fff;
    font-size: 15px;
    font-weight: 300;
    letter-spacing: 3px;
}