<div class='head'>
  <div class="logo">
    <img src="" alt="">
  </div>
  <h3>艾格吃饱了</h3>
  <p>你有一份美味等待领取</p>
</div>

<p class="hold">输入卡密</p>
<input class="input" type="text" placeholder="" value="" maxlength="6">
<button type="submit" onclick="getval()" >领取</button>

<p class="subok" >已领取可查询物流</p>
