<div class="title">艾格吃饱了</div>
<p class="info" >您的卡密<span></span> ，可领取如下产品：</p>
<div class="prj_box">
  <p class="prj-name">闲记&middot;真诚的凤梨酥  &nbsp;<span class="jiage">¥85</span> <span class="add">X 1</span></p>
  <img class="prj_img" src="../cbl1.jpg" width="90%" alt="">
  <a class="prj_detail" href="">查看产品详细介绍></a> <span class="last_time">领取截止时间：2017年4月5日</span>
</div>
<div class="user_info">
  <form action="" method="get" class="form">
    <dd><label for="name">您的姓名：</label><input id="name" name="name" type="text" class="text" /></dd>
    <dd><label for="contact">联系电话：</label><input id="contact" name="contact" type="text" class="text" /></dd>
    <dd>
      <div data-toggle="distpicker" id="where" >
        <span class="city">收货地址：</span>
        <select id="pro" data-province="省"></select>
        <select id="cit" data-city="市"></select>
        <select id="dist" data-district="区"></select>
      </div> 
    </dd>
    <input type="text" class="detail_addr" placeholder="详细地址">
    <dd><label for="data">预约配送日期：</label><input type="text"  id="selData" class="text" name="data"/></dd>
    <dd><button class="btn" type="submit"><a href="confirm.html" onclick="getinfo()">下一步</a> </button></dd>
  </form>
</div>
