<h3 class="title">艾格吃饱了</h3>

<div class="success">
  <!--<img src="../cbl1.jpg" width="80px" height="80px"  alt="领取成功">-->
  <div class="img"></div>
  <h3 class="suc_title">领取成功!</h3>
  <h3 class="suc_id">订单编号：110110110110110</h3>
</div>

<div class="info_box">
  <ul >
    <li >领取产品：闲记&middot;真诚的凤梨酥  &nbsp;</li>
    <li>配送信息：<span class="li1">土土 &nbsp;1233457676</span></li>
    <li class="li2">上海市徐汇区吴兴路108号东亚公寓</li>

    <li>配送日期：<span>2017年4月5日</span></li>
  </ul>
</div>

<h3 class="service">如有问题请联系客服：123456789</h3>
<div class="code"><img src="" alt=""></div>
<div class="code_info">长按扫描二维码关注艾格吃饱了获得更多产品信息</div>
<button class="gotoIndex"><a href="index.html" >返回首页</a></button>
