
body,button ,ul, li{
    margin:0px;
    padding: 0px;
    color:#313131;

}
.five_title{
    text-align: center;
    color: #e0502c;
    font-size: 20px;
    width: 100%;
    margin-top: 32px;
    padding-bottom: 10px;
    border-bottom: 1px solid #f8ded7;
}

.img {
    height: 52px;width: 52px;
    border-radius: 50%;
    margin: 32px auto 10px;
    /*background-color: #ccc;*/
    /*background: url("../succ.png") no-repeat center ;*/

}
.img img{
    width: 52px;
}

.suc_title ,.suc_id{
    font-size: 16px;
    margin: 0 auto;
    font-weight: 400;
    /*border:1px solid #0000ff;*/
    text-align: center;
    color: #e0502c;
}


.info_box{
    background-color: #f7f7f7;
    border-radius: 5px;
    padding:10px;
    margin: 32px 23px 8px;

}

.info_box li{
    list-style: none;
    min-height: 30px;
    font-size: 14px;
    font-weight: 300;

}

.service{
    /*font-size: 30px;*/
    color:#b5b5b5;
    font-weight: 300;
    font-size: 14px;
    margin: 0 23px;
}

.code{
    background-color: #ccc;
    height: 66px; width: 66px;
    margin: 42px auto 18px;

}
.code img{
    width: 65px;height: 65px;
}
.code_info{
    font-size: 14px;
    font-weight: 300;
    text-align: center;
    color: #b5b5b5;
    height: 40px;
    width:193px ;
    margin: 0 auto;

    /*background-color: #e6e9ed;*/

}
.gotoIndex{
    display: block;
   width: 320px;height: 56px;
    background: #e0502c;
    opacity: 0.75;
    margin:  71px auto 4px;
    border: none;
    border-radius: 3px;
    outline: none;
    letter-spacing: 3px;
    font-size: 16px;
    font-weight: 300;
}
.gotoIndex a{
    display: block;
    width: 100%;height: 100%;
    line-height: 56px;
    color: #fff;
    text-decoration: none;
}
