<div class="card">
  <img class="prj_img" src="<%= product.image_url %>" width="30%" alt="">
  <p class="prj_name"><%= product.name %><span class="add">X <sapn id="num1"><%= product.count%></sapn></span></p>
</div>
