<div class="card">
  <img class="prj_img" src="<%= product.image_url %>"  alt="">
  <p class="prj_name">
    <%= product.name %>  &nbsp;
    <span class="confirm_jiage">¥<%= product.price %></span>
    <span class="confirm_add">&times; <%= product.count %></span>
  </p>
</div>
